<h1 mat-dialog-title>Novo Item</h1>
<form novalidate (ngSubmit)="formGroup.valid && close(item)" [formGroup]="formGroup">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Nome" [(ngModel)]="item.name" cdkFocusInitial>
      <mat-error *ngIf="nameControl.hasError('required')">
        Nome é obrigatório
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="close(null)">Cancelar</button>
    <button mat-button type="submit">Ok</button>
  </div>
</form>
