/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

app-list {
  label.mat-checkbox-layout {
    display: inline-block;
    width: 100%;
  }
}

// Class for fab placement
.mat-fab.bottom-right {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
