<app-toolbar>Listas</app-toolbar>

<div style="margin-top: 56px;">
  <mat-nav-list fxFlex>
    <div fxLayout="row" *ngFor="let list of lists | async">
      <div class="background-delete">
        <mat-icon class="delete-icon">delete</mat-icon>
      </div>
      <a mat-list-item fxFlex [routerLink]="['/list', list.id]" (appSwipeDrag)="delete(list)" class="list-item">
        {{list.name}}
      </a>
    </div>
  </mat-nav-list>

  <button class="bottom-right" mat-fab (click)="openDialog()" aria-label="add new list">
    <mat-icon>add</mat-icon>
  </button>
</div>
