mat-nav-list {
  .list-item {
    overflow-x: hidden;
    white-space: nowrap;
    background-color: white
  }
  div.background-delete {
    background-color: red;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 48px
  }
  .delete-icon {
    margin-top: 10px;
    margin-left: 10px;
    color: darkslategrey
  }
}
